.footer {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    align-items: center;
}

.footerHead {
    text-align: center;
}

.socials {
    display: flex;
    width: 50%;
    justify-content: space-between;
}
